body {
    color: #222;
}

body > .container > .header {
    text-align: center;
    padding: 20px 0;
}

body > .container > .header > .divide-comigo-logo {
    display: block;
    height: 60px;
    text-align: left;
    width: auto;
}

body > .container > form {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
}
